html {
    background-color: tan;
    
    }

body {
    width: 95%;
    margin: 5% auto;
    border-radius: 10px;

    background-color: ivory;
    background-image: 
        url('https://www.bing.com/th?id=OHR.BrightonJetty_ZH-CN1526526038_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding: 2px;
}